<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="My suite" parallel="tests" thread-count="2">


<test name="Tests">
        <classes>
            <class name="tests.FirstTest"/>
            <class name="tests.SecondTest"/>
            <class name="tests.ThirdTest"/>
        </classes>
    </test>


</suite>
